#root {
 margin: 0 0 auto;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #030303;
}

/* When one card is hovered, blur all of them */
.card-container:hover .card {
  filter: blur(4px);
  transition: 0.3s ease;
}

/* Remove blur for the hovered card */
.card-container .card:hover {
  filter: blur(0);
  transform: scale(1.05);
}

.card-container .card {
  transition: filter 0.3s ease, transform 0.3s ease;
}
